  .solution-features {

    // Floating Features
    .text-left {
      // margin-top: 10%;

      .icon-wrap {
        margin-right: 30px;
        float: left;
      }
    }

    .text-right {
      // margin-top: 10%;

      .icon-wrap {
        margin-left: 30px;
        float: right;
      }
    }

    // Feature
    .feature {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding-bottom: 40px;

      // Text Wrap
      .text-wrap {
        display: inline-block;
        width: calc(100% - 100px);

        h3 {
          color: $primary;
          font-size: 1.3rem;
          margin-bottom: 10px;
        }

        p {
          color: $white;
          font-size: 1.0rem;
          // font-size: 0.875rem;
          // font-weight: lighter;
        }

      }

      // Icon Wrap
      .icon-wrap {
        display: block;

        .circle {
          width: 70px;
          height: 70px;
          font-size: 2rem;
          background-color: transparentize($white, 0.8);
        }

      }

      &, p, .icon-wrap .circle {
        transition: all $transition-links $transition-links-type;
      }

      // Feature Hover
      &:hover {

        p {
          color: $white;
        }

        .icon-wrap {
          .circle {
            background-color: $primary;
          }
        }

      }

    }

    // Resonsive Media
    @media (max-width: 991px) {
      .phone {
        display: none;
      }

      .text-left {
        margin-top: 10%;

        .icon-wrap {
          margin-right: 30px;
          float: left;
        }
      }

      .text-right {
        margin-top: 10%;
        text-align: left;

        .icon-wrap {
          margin-left: 0;
          margin-right: 30px;
          float: left;
        }
      }

    }

  }